<div class="container">
  <h1 class="mb-4">Order Details</h1>

  <% @order.line_items.each do |line_item| %>
    <%= render 'orders/line_item', line_item: line_item %>
  <% end %>

  <div class="row">
    <div class="d-flex justify-content-between">
      <h3>Email: <%= @order.email %></h4>
      <span><h3 class="text-right">Final amount: <span>$</span><%= @order.total_cents.to_f / 100 %></h3>
      </span>
    </div>
  </div>
